<div *ngFor="let user of users" class="container" style="width: 600px;">
    <div class="row">
        <div class="col">
            <img class="redondo" src="{{ user.picture }}">
        </div>
        <div class="col d-flex align-items-center">
            <ul>
                <li>{{ user.username }}</li>
                <li>{{ user.email }}</li>
                <li>badges:</li>
                <ul *ngFor="let badge of user.badges">
                    <li>{{ badge.name }}</li>
                </ul>
            </ul>
        </div>
    </div>
    <div class="text-center">
        <button (click)="onSelect(user)" class="btn btn-primary m-3">View profile</button>
    </div>
    <hr>
</div>